.span-text {
    word-wrap: normal;
    word-break: break-all;
}
.date-time {
    font-size: 0.9em;
}

/*table {*/
/*    !*table-layout: fixed;*!*/
/*    width:100%*/
/*}*/
/*td {*/
/*    word-wrap:break-word;*/
/*}*/