{% extends 'base.html' %}
{% load static %}
{% load vk_tags %}

{% block title %}
    {{ message.text|truncatewords:3 }}
{% endblock %}
{% block plugin_css_for_this_pages %}
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
{% endblock %}

{% block main_panel %}

    <div class="content-wrapper">

        <div class="row">
            <div class="col-11">
                <div class="table-responsive">
                    <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6"></div>
                            <div class="col-sm-12 col-md-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example" class="display expandable-table dataTable no-footer"
                                       style="width: 100%;" role="grid">
                                    <thead>
                                    <tr role="row">
                                        <th class="select-checkbox sorting_disabled" rowspan="1" colspan="1"
                                            aria-label="Quote#" style="width: 70px;">Quote#
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1"
                                            colspan="1" aria-label="Product: activate to sort column descending"
                                            aria-sort="ascending" style="width: 51px;">Product
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                            aria-label="Business type: activate to sort column ascending"
                                            style="width: 58px;">Business type
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                            aria-label="Policy holder: activate to sort column ascending"
                                            style="width: 43px;">Policy holder
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                            aria-label="Premium: activate to sort column ascending"
                                            style="width: 59px;">Premium
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                            aria-label="Status: activate to sort column ascending" style="width: 43px;">
                                            Status
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                            aria-label="Updated at: activate to sort column ascending"
                                            style="width: 64px;">Updated at
                                        </th>
                                        <th class="details-control sorting_disabled" rowspan="1" colspan="1"
                                            aria-label="" style="width: 22px;"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="odd">
                                        <td class=" select-checkbox">Incs234</td>
                                        <td class="sorting_1">Car insurance</td>
                                        <td>Business type 1</td>
                                        <td>Jesse Thomas</td>
                                        <td>$1200</td>
                                        <td>In progress</td>
                                        <td>25/04/2020</td>
                                        <td class=" details-control"></td>
                                    </tr>
                                    <tr class="even">
                                        <td class=" select-checkbox">Incs235</td>
                                        <td class="sorting_1">Car insurance</td>
                                        <td>Business type 2</td>
                                        <td>Jesse Thomas</td>
                                        <td>$1200</td>
                                        <td>Active</td>
                                        <td>25/04/2020</td>
                                        <td class=" details-control"></td>
                                    </tr>
                                    <tr class="odd">
                                        <td class=" select-checkbox">Incs235</td>
                                        <td class="sorting_1">Car insurance</td>
                                        <td>Business type 2</td>
                                        <td>Jesse Thomas</td>
                                        <td>$1200</td>
                                        <td>Expired</td>
                                        <td>25/04/2020</td>
                                        <td class=" details-control"></td>
                                    </tr>
                                    <tr class="even">
                                        <td class=" select-checkbox">Incs235</td>
                                        <td class="sorting_1">Car insurance</td>
                                        <td>Business type 2</td>
                                        <td>Jesse Thomas</td>
                                        <td>$1200</td>
                                        <td>In progress</td>
                                        <td>25/04/2020</td>
                                        <td class=" details-control"></td>
                                    </tr>
                                    <tr class="odd">
                                        <td class=" select-checkbox">Incs235</td>
                                        <td class="sorting_1">Car insurance</td>
                                        <td>Business type 2</td>
                                        <td>Jesse Thomas</td>
                                        <td>$1200</td>
                                        <td>Active</td>
                                        <td>25/04/2020</td>
                                        <td class=" details-control"></td>
                                    </tr>
                                    <tr class="even">
                                        <td class=" select-checkbox">Incs235</td>
                                        <td class="sorting_1">Car insurance</td>
                                        <td>Business type 2</td>
                                        <td>Jesse Thomas</td>
                                        <td>$1200</td>
                                        <td>Active</td>
                                        <td>25/04/2020</td>
                                        <td class=" details-control"></td>
                                    </tr>
                                    <tr class="odd">
                                        <td class=" select-checkbox">Incs235</td>
                                        <td class="sorting_1">Car insurance</td>
                                        <td>Business type 2</td>
                                        <td>Jesse Thomas</td>
                                        <td>$1200</td>
                                        <td>Active</td>
                                        <td>25/04/2020</td>
                                        <td class=" details-control"></td>
                                    </tr>
                                    <tr class="even">
                                        <td class=" select-checkbox">Incs235</td>
                                        <td class="sorting_1">Car insurance</td>
                                        <td>Business type 2</td>
                                        <td>Jesse Thomas</td>
                                        <td>$1200</td>
                                        <td>Expired</td>
                                        <td>25/04/2020</td>
                                        <td class=" details-control"></td>
                                    </tr>
                                    <tr class="odd">
                                        <td class=" select-checkbox">Incs235</td>
                                        <td class="sorting_1">Car insurance</td>
                                        <td>Business type 2</td>
                                        <td>Jesse Thomas</td>
                                        <td>$1200</td>
                                        <td>Active</td>
                                        <td>25/04/2020</td>
                                        <td class=" details-control"></td>
                                    </tr>
                                    <tr class="even">
                                        <td class=" select-checkbox">Incs235</td>
                                        <td class="sorting_1">Car insurance</td>
                                        <td>Business type 2</td>
                                        <td>Jesse Thomas</td>
                                        <td>$1200</td>
                                        <td>In progress</td>
                                        <td>25/04/2020</td>
                                        <td class=" details-control"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5"></div>
                            <div class="col-sm-12 col-md-7"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block plugin_js_for_this_page %}
    <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>

{% endblock %}
{% block custom_js_for_this_page %}
{#    <script src="{% static 'js/dashboard.js' %}"></script>#}
    <script src="{% static 'custom_js/message_list.js' %}"></script>
    <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
{% endblock %}