{% extends 'base.html' %}
{% load static %}
{% load vk_tags %}

{% block title %}
    {{ user.first_name }}
{% endblock %}


{% block custom_plugin_css_for_this_page %}
    {#    <link rel="stylesheet" href="{% static 'custom_css/my_accounts.css/' %}">#}
{% endblock %}


{% block main_panel %}
    <div class="content-wrapper">
        <div class="d-flex">
            <div class="col-md-3 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <p style="display: inline-block"
                               class="text-dark mb-1">Аккаунт </p>
                        </div>
                        <div>
                            <p style="display: inline-block"
                               class="text-dark mb-1">Пользователь</p>
                        </div>
                        <div>
                            <p style="display: inline-block"
                               class="text-dark mb-1">Время</p>
                        </div>
                        {#                        <div>#}
                        {#                            <p style="display: inline-block"#}
                        {#                               class="text-info mb-1">Получено от {{ message.user }}</p>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>

            <div class="col-md-5 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div>

                            <p style="display: inline-block"
                               class="text-info mb-1">
                                <a href="{{ message.account.get_absolute_url }}">{{ message.account }}</a>
                            </p>
                        </div>
                        <div>
                            <p style="display: inline-block"
                               class="text-info mb-1">
                                <a href="{{ message.user.get_absolute_url }}">{{ message.user }}</a>

                            </p>
                        </div>
                        <div>
                            <p style="display: inline-block"
                               class="text-dark mb-1">{{ message.sent_at }}</p>
                        </div>
                        {#                        <div>#}
                        {#                            <p style="display: inline-block"#}
                        {#                               class="text-info mb-1">Получено от {{ message.user }}</p>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>


        </div>
        <div class="row">

            <!-- Вопрос -->
            <div class="col-md-4 grid-margin">
                <p class="text-success">Полученное сообщение</p>
                <div class="card">

                    <div class="card-body">
                        {{ message.text }}
                    </div>
                </div>
            </div>

            <!-- Ответ -->
            <div class="col-md-4 grid-margin">
                <p class="text-success">Ответ</p>

                <div class="card">
                    <div class="card-body">
                        {{ message.answer_question }}

                    </div>
                </div>
            </div>

            <!-- Шаблон -->
            <div class="col-md-4 grid-margin">
                <p class="text-success">Шаблон</p>

                <div class="card">
                    <div class="card-body">
                        {{ message.answer_template }}

                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}


{% block custom_js_for_this_page %}
{% endblock %}