{% extends 'base.html' %}
{% load static %}
{% load vk_tags %}

{% block title %}
    {{ account.name }}
{% endblock %}
{% block plugin_css_for_this_pages %}
    <link rel="stylesheet" href="{% static 'custom_css/my_accounts.css/' %}">

{% endblock %}

{% block main_panel %}
    <div class="content-wrapper">


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <span style="margin-left: 45%; margin-right: auto; width:60%">Пользователи</span>
                    </div>
                </div>
                <br>
            </div>

            {% for user in user_list %}

                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">

                        <div class="card-body">
                            <div>
                                <h2 style="display: inline-block" class="card-title">

                                    <a href="https://vk.com/id{{ user.user_id }}">
                                        <img style="width:1.1em" src="{% static 'custom_images/vk.jpeg' %}" alt="">
                                    </a>

                                </h2>
                                <form style="display: inline-block; float: right" method="post">
                                    {% get_status user as status %}

                                    {% csrf_token %}
                                    <input type="hidden" name="user" value="{{ user.id }}">
                                    <button type="submit" style="display: inline-block;float: right;" type="button"
                                            class="btn btn-{{ status.2 }} btn-sm right">
                                        {{ status.3 }}</button>
                                </form>
                            </div>

                            <div style="display: block">
                                <a href="{{ user.get_absolute_url }}">
                                    <img class="img-rounded account-img" src="{{ user.photo_url }}" alt="">
                                    <h2 class="display-5" style="display: inline-block">
                                        {{ user.first_name }} {{ user.last_name }}
                                    </h2>
                                </a>

                            </div>

                            <br>

                            <h4 style="display: inline-block;width:50%" class="display-6"><a
                                    href="{% url 'message_list' %}?search_field=11&search={{ user.pk }}">Всего
                                сообщений</a></h4>
                            <h4 style="display: inline-block;float: right"
                                class="display-6">{{ user.messages.count }}</h4>


                            <h4 style="display: inline-block;float: right"
                                class="display-6">{{ user.numbers.count }}</h4>

                            <h4 style="display: inline-block;width:60%" class="display-6">Статус</h4>

                            <!-- Статус аккаунта -->
                            <h4 style="display: inline-block;float: right" class="display-6 badge badge-{{ status.0 }}">
                                {{ status.1 }}</h4>

                            <h5 style="display: inline-block;width:60%;float: left" class="display-7">Последнее
                                сообщение</h5>
                            <h5 style="display: inline-block;float: right;font-size: 0.7em;"
                                class="display-7">{{ user.messages.last.sent_at }}</h5>
                            <p>&emsp;</p>
                            {#                            <br>#}

                            {% for user in account.users.all %}
                                <a href="{{ user.get_absolute_url }}">
                                    <button id="user-button"
                                            style=" background-image: url({{ user.photo_url }})"
                                            class="btn btn-outline-dark btn-icon-text">

                                        <span style="font-size: 0.8em;" class="text-right">
                                            {{ user.first_name }}
                                        </span>
                                        alt="">
                                    </button>
                                </a>
                            {% endfor %}
                            <p>&emsp;</p>


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block custom_js_for_this_page %}
    <script src="{% static 'custom_js/vk_accounts.js' %}"></script> #todo
    {#    <script src="{% static 'custom_js/menu.js' %}"></script> #todo#}
{% endblock %}