{% extends 'base.html' %}
{% load static %}
{% load vk_tags %}

{% block title %}
    Basic Table
{% endblock %}


{% block custom_plugin_css_for_this_page %}
    {#    <link rel="stylesheet" href="{% static 'custom_css/loading_icons.css' %}">#}
    {#    <link rel="stylesheet" href="{% static 'custom_css/main.css' %}">#}
{% endblock %}


{% block main_panel %}
    {% show_last_messages %}
{% endblock %}

{% block custom_js_for_this_page %}
    <script src="{% static 'custom_js/my_accounts.js' %}"></script> #todo
    {#    <script src="{% static 'custom_js/menu.js' %}"></script> #todo#}
{% endblock %}